
@{
    ViewBag.Title = "Week";
}

<div style="padding-top: 10px;">
    <div style="width: 49%; float: left;"><h2>Add Week</h2></div>

    <div style="width: 49%; float: right;" class="container">
        <div style="float: right;" class="col-sm-6">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker12" data-target-input="nearest">
                    <input id="dateTimePicker" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker12" onchange="changeDate()" value="@ViewBag.monday.ToString("MM/dd/yyyy")" />
                    <div class="input-group-append" data-target="#datetimepicker12" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker12').datetimepicker({
                    format: 'L',
                    daysOfWeekDisabled: [0, 2, 3, 4, 5, 6],
                    defaultDate: @ViewBag.monday.ToString("MM/dd/yyyy"),
                    useCurrent: false
                });
                $('#datetimepicker12').on('dp.change', function () {
                    alert("change");
                });
            });
        </script>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-dark table-hover table-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Distance</th>
                <th>Type</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var day in ViewBag.Days)
            {
                <tr>
                    <td><div id="dateOfWeek">@day.Date.ToString("dddd, dd MMMM")</div></td>
                    <td><input id="distance" class="form-control" type="number" value="@day.Distance" /></td>
                    <td>@Html.DropDownList("rtype", new SelectList(ViewBag.runTypes, "ID", "Description", day.RunType), new { @class = "form-control", name = "rtype" })</td>
                    <td><input id="notes" class="form-control" type="text" value="@day.Notes" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h3>Coaches Notes</h3>
<textarea id="CoachNotes" class="form-control" readonly>@ViewBag.CoachesNotes</textarea>

<br />

<button type="button" class="btn btn-danger" onclick="save()">Save</button>

@section scripts{
    <script>
        $(function () {
            var element = document.getElementById("ActiveAth");
            element.classList.add("active");
        });

        function changeDate() {
            var date = $('#dateTimePicker').val();
            window.location = '/Athlete/Week?date=' + date;
        }

        $("#dateTimePicker").change(function () {
            var date = $('#dateTimePicker').val();
            window.location = '/Athlete/Week?date=' + date;
        });

        function save() {
            var date = document.querySelectorAll("[id^=dateOfWeek]");
            var dist = document.querySelectorAll("[id^=distance]");
            var monday = $('#dateTimePicker').val();
            var type = document.querySelectorAll("[id^=rtype]");
            var note = document.querySelectorAll("[id^=notes]");

            var values = [];

            for (var i = 0; i < 7; i++) {
                values.push({
                    "Date": date[i].textContent,
                    "Distance": dist[i].value,
                    "Monday": monday,
                    "RunType": type[i].value,
                    "Notes": note[i].value
                });
            }

            $.ajax({
                url: "/Athlete/UpdateWeek",
                data: { weeklyRuns: values },
                method: "POST",
                async: false,
                success: function () {
                    location.href = "/Athlete";
                },
                error: function () {
                    alert("An error occured");
                }
            });
        }
    </script>
}
